body {
   background-color:rgb(0,0,0);
}

div {
  font-family: monospace;
  white-space: pre;
}

div.stack {
   color:rgb(  255,255,255);
   width: 150px;
   margin-left: 300px;
   height: 310px;
   overflow-y: scroll;
   background-color:rgb(0,0,0);
}

div.regs {
   color:rgb(  255,255,255);
   width: 100px;
   margin-left: 300px;
   background-color:rgb(0,0,0);
   height: 100px;
}

div.code {
   width: 250px;
   float: left;
   background-color:rgb(0,0,0);
   height: 510px;
   overflow-y: scroll;
}

div.data {
   color:rgb(  255,255,255);
   width: 1090px;
   float: left;
   background-color:rgb(0,0,0);
   height: 510px;
   overflow-y: scroll;
}

span.highlight0 {
   color:rgb(  255,255,255);
   background-color:rgb(0,0,0);
}

span.highlight1 {
   color:rgb( 64,0,0);
   background-color:rgb(64,64,0);
}

span.highlight2 {
   color:rgb(128,0,0);
   background-color:rgb(128,128,0);
}

span.highlight3 {
   color:rgb(192,0,0);
   background-color:rgb(192,192,0);
}

span.highlight4 {
   color:rgb(255,0,0);
   background-color:rgb(255,255,0);
}